<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/allMatReq.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Joan&display=swap" rel="stylesheet">
    <title>Material Request</title>
</head>
<body>
    <form action="/<%=guild%>/characters">
        <input class="button" type="submit" value="Go Back"/>
    </form>
    <div class="container">
        <% characters.forEach((character) => { %>
            <% if(character.materialReq.gemAmt_1 > 0 || character.materialReq.gemAmt_2 > 0 || character.materialReq.sunmoteAmt > 0){ %> 
                <div class="matReq" >
                    <%if (character.materialReq.gemAmt_1 > 0){ %>
                    <div><a href="/characters/<%= character._id  %> "><%= capitalize(character.name) %></a></div>
                    <div><%= capitalize(character.materialReq.gemColor_1)%> : <%= character.materialReq.gemAmt_1%></div>
                    <% } %> 
                    <% if (character.materialReq.gemAmt_2 > 0){ %> 
                    <div><%= capitalize(character.materialReq.gemColor_2) %> : <%= character.materialReq.gemAmt_2%></div>
                    <% } %> 
                    <% if (character.materialReq.sunmoteAmt > 0){ %> 
                    <div>Sunmotes: <%= character.materialReq.sunmoteAmt %></div>
                    <% } %> 
                </div>
                <% } %> 
            <%})%>
    </div>
                
    


</body>
</html>