<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= singleChar.name  %> </title>
</head>

<body>
    <form action="http://localhost:3000/guild/">
        <input type="submit" value="Go Back"/>
    </form>
    <div>
        <div><h1><%= singleChar.name  %> </h1></div>
        <br>
        <div><h5><%= singleChar.class %> </h5></div>
        <br>
        <div><h5><%= singleChar.specialization %> </h5></div>
        <br>
        <div><h3>Professions</h3></div>
        <div><h5><%= singleChar.profession_1 %> </h5></div>
                <div><h3>Recipes:</h3></div>
                <div>
                    <% singleChar.recipe_1.forEach((recipe) => { %> 
                    <ul>
                        <li><%= recipe %> </li>
                    </ul>
                    <% }) %> 
                </div>
        <div><h5><%= singleChar.profession_2 %> </h5></div>
                <div><h3>Recipes:</h3></div>
                <div>
                    
                    <% singleChar.recipe_2.forEach((recipe)=>{ %> 
                    <ul>    
                        <li><%= recipe %> </li>
                    </ul>
                    <% }) %> 
                </div>
                <a href="/characters/<%= singleChar._id %>/editCharacter"><button>Edit Character!</button></a>

 <div>
        <h3>Loot Wishlist</h3>
        
         <% singleChar.items.forEach((item) => { %> 
        <div>
            <ul>
                <li><%= item.priority %> </li>
                <li><a href="<%= item.link %>" target="_blank" rel="noopener noreferrer"><%= item.name %> </a></li>
                <li><%= item.boss %> </li>
                <li><%= item.type.slot %> </li>
                
            </ul>
        </div>
        <% }) %> 
        </div>

       
        <a href="/characters/<%= singleChar._id %>/editWishlist"><button>Edit Wishlist!</button></a>


        <% if (singleChar.materialReq){ %> 
        <a href="/characters/<%= singleChar._id %>/materialedit"><button>Material Request Edit</button></a>
        <% }else{ %> 
        <a href="/characters/<%= singleChar._id %>/materialrequest"><button>Material Request</button></a>
        <% } %> 

        <form action="/characters/<%= singleChar._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete Character"/>
        </form>
    </div>
</body>
</html>