<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Wishlist</title>
</head>
<body>
    <form action="http://localhost:3000/<%=guild%>/characters/<%= singleChar._id  %> ">
        <input type="submit" value="Go Back"/>
    </form>
    
    
    <div>
        <h3>Loot Wishlist</h3>
        
         <% singleChar.items.forEach((item, i) => { %> 
        <div>
            <ul>
                <li><%= item.priority %> </li>
                <li><a href="<%= item.link %>" target="_blank" rel="noopener noreferrer"><%= capitalize(item.name) %> </a></li>
                <li><%= capitalize(item.boss) %> </li>
                <li><%= capitalize(item.slot) %> </li>
                <form action="/<%=guild%>/characters/<%= singleChar._id %>/editWishlist?_method=DELETE" method="POST">
                    <input type="hidden" value="<%=i%>" name="wishlistIndex">
                <input type="submit" value="Delete item"/>
                </form> 
            </ul>
        </div>
        <% }) %> 
        </div>
    
    
    
        
        <div>
            <% if(singleChar.items.length  < 3 ) {%> 
                <h1>Add a new Wishlist Item</h1>
            <form action="/<%=guild%>/characters/<%= singleChar._id %>/editWishlist" method="post">
                <input type="text" placeholder="name" name="name">
                <input type="text" placeholder="link" name="link">
                <input type="text" placeholder="boss" name="boss">
                <input type="text" placeholder="slot" name="slot">
                <input type="text" placeholder="material" name="material" value="">
                <input type="number" placeholder="priority" name="priority">
                <button type="submit" >Submit</button>

                <% } %> 

                <% if (invalid){ %>
                    <div style="color: red;">You've already set that priority!</div> 
                    <% } %> 
        </div>
    
    
    
    
    
   
</body>
</html>