<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guild Members</title>
</head>
<body>
 
        <% if (user) { %>
            <a href="/logout"><i class="material-icons left"></i>Log Out</a>
            
            <table>
                <% characters.forEach((character) => { %>
                    <tr>
                        <td><a href="/characters/<%= character._id  %> "><%= capitalize(character.name) %></a></td>
                        <td><%= capitalize(character.class)%></td>
                        <td><%= capitalize(character.specialization)%></td>
                        <td>Professions</td>
                        <td><%= capitalize(character.profession_1) %></td>
                        <td><%= capitalize(character.profession_2) %></td>
                        <% character.items.forEach((item) =>{ %>
                            <td><%= capitalize(item.name)  %> </td>
                            <% }) %> 
                    </tr>
                        <%})%>
                        
                </table>
                    
                    <a href="/guild/new"><button>Add new character!</button></a>
                    <a href="/guild/matrequests"><button>See All Material Requests</button></a>
                    
        <% } else { %>
            <a href="/auth/google"><i class="material-icons left">🔑 </i>Login with Google</a>
        <% } %>
                </body>
                </html>